---
import type { BadgeProps } from "../types";
import { hasIcon } from "../utils";

const {
  label,
  iconProps = undefined,
  customClasses = "bg-zinc-700 text-white",
} = Astro.props as BadgeProps;
---

<span
  class={`inline-flex items-center justify-center gap-1 text-xs h-10 px-3 rounded-full border border-zinc-700 ${customClasses}`}
>
  {hasIcon(iconProps) ? (
    <img
      src={iconProps.icon}
      alt={`${label} icon`}
      class={`w-8 h-8 ${iconProps.iconCustomClasses}`}
    />
  ) : (
    <span class="leading-none">{label}</span>
  )}
</span>