---
const { imageSource, imageAltText, primaryIntroduction, secondaryIntroduction, hook } = Astro.props;
---

<section class="hero text-white py-20 px-6 min-h-[50vh]">
  <div class="max-w-4xl mx-auto flex flex-col md:flex-row items-center gap-10">
    <img src={imageSource} alt={imageAltText} class="max-w-[192px] h-auto rounded-full shadow-lg border-2 border-zinc-700" />
    <div class="text-center md:text-left">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">{primaryIntroduction}</h1>
      <p class="text-lg md:text-xl mb-2">{secondaryIntroduction}</p>
      <p class="text-md italic text-slate-400">{hook}</p>
    </div>
  </div>
</section>